@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/*custom css*/
.underline-custom{
  position: relative;
}
.home-custom{
  position: relative;
}
.home-custom::before{
  content: '';
  width: 100% !important;
  height: 2px;
  position: absolute;
  bottom: -2px;
  background-color: rgb(74 222 128) !important;
  transition: all ease-in 0.4s;
}
.underline-custom::before{
  content: '';
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: -2px;
  background-color: white;
  transition: all ease-in 0.5s;
}
.underline-custom:hover::before{
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -2px;
  background-color: rgb(74 222 128);
}
.btn-custom{
  box-shadow: inset 0px 0px 0px 0px ;
  border: 1px solid white;
  transition: all ease-in 0.4s;
  box-sizing: border-box;

}
.btn-custom:hover{
  box-shadow: inset 200px 0px 0px 0px rgb(34 197 94);
  border: 1px solid rgb(34 197 94);
  box-sizing: border-box;


}
.shadow-custom{
    animation: banner 5s ease-in infinite;
}
 @keyframes banner{
  0%{
    box-shadow: 2px 2px 11px 12px rgb(95 221 195);
  }
  25%{
    box-shadow: 2px 2px 15px 15px rgb(95 221 195);
  }
  45%{
    box-shadow: 2px 2px 18px 18px rgb(95 221 195);
  }
  75%{
    box-shadow: 2px 2px 20px 21px rgb(95 221 195);
  }
  100%{
   
      box-shadow: 2px 2px 15px 15px rgb(95 221 195);
    
  }
 }

 .custom-border{
  position: relative;
  transition: all ease-in 0.5s;

 }
 .custom-border::before{
  content: '';
  position: absolute;
  bottom: 0%;
  left:0%;
  width: 100%;
  height: 3px;
  background-color: rgb(250, 20, 192);
  transition: all ease-in 0.5s;
 }
 .custom-border::after{
  content: '';
  position: absolute;
  bottom: 0%;
  left:0%;
  width: 0%;
  height: 3px;
  background-color: rgb(74 222 128);
  transition: all ease-in 0.5s;

 }
 .custom-border:hover.custom-border::after{
  content: '';
  position: absolute;
  bottom: 0%;
  left:0%;
  width: 100%;
  height: 3px;
  background-color: rgb(74 222 128);
 }
.custom-image{
  background:url('./assets/image/IMG_1491-01.jpeg');
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  position: relative;
  border-radius: 5px;
}
@media screen and (max-width:425px) {
  .custom-image{
    height: 200px;

  }  
}
.custom-image::before{
  content: '';
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.705);
  width: 100%;
  height: 100%;
  opacity: 70%;
}
.custom-scroll::-webkit-scrollbar {
  width: 5px;
}
 
.custom-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgb(74 222 128);
  border-radius: 4px;
  outline: 1px solid slategrey;
}